<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fanuc_m6ib_gazebo)/config/m6ib_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner"
        args="joint_state_controller arm_controller"
        respawn="false" output="screen" />

</launch>
